In [2]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.5g}'.format

In [16]:
# file = '../pp2chi0chi0J_nosmear_scan/Events/run_01/ddmH_mS_500_m1_244_dm_90_ctau_3.0_delphes_events_calRatio_cutFlow.csv'
file = '../pp2chi0chi0J_nosmear_scan/Events/run_02/ddmH_mS_500_m1_244_dm_90_ctau_3.0_delphes_events_calRatio_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2,delimiter=';')
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-9.0) < 0.5]
newRows = {}
for key in cutDF.columns:
    newRows[key] = [np.sqrt(float(cutDF[key].iloc[0])),
                     float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]

df_the_dict = pd.DataFrame.from_dict(newRows)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.drop(columns=['m1','m0','mS','tau'],inplace=True)
cutDF2.rename({0 : 'entries', 1 : 'entriesError', 2 : 'cumulative'},axis=0,inplace=True)
cutDF2.T

,entries,entriesError,cumulative
# All,39051,197.61,1
(N-1) L1: Eta Jet < 2.5,33527,183.1,0.85854
(N-1) L1-HighET: jet PT > 60 GeV,13438,115.92,0.34411
(N-1) L1-LowET: jet(HCAL) > 30 GeV and jet(ECAL) < 3 GeV,3141,56.045,0.080433
(N) L1: Eta Jet < 2.5,193,13.892,0.0049423
(N) L1-LowET: jet(HCAL) > 30 GeV and jet(ECAL) < 3 GeV,142,11.916,0.0036363
(N) L1-HighET: jet PT > 60 GeV,21,4.5826,0.00053776
(N-1) HLT: Eta Jet < 2.5 PT Jet > 20 GeV,16574,128.74,0.42442
(N-1) HLT: Jet EMF < 0.06,2711,52.067,0.069422
(N) HLT: Eta Jet < 2.5 PT Jet > 20 GeV,163,12.767,0.004174
(N) HLT: Jet EMF < 0.06,141,11.874,0.0036107
lambdauv,1.2e+07,3464.1,307.29
chxx10,0.1,0.31623,2.5608e-06
ychi1,1,1,2.5608e-05
ychi10,1,1,2.5608e-05
sina,0.2,0.44721,5.1215e-06

In [ ]:
cutDF2.drop(labels=['cumulative'],axis=0,inplace=True)
for col in cutDF2.columns:
    cutDF2[col] = cutDF2[col]*40000.0/cutDF2['# All'].iloc[0]

cutDF2[['# All', 
        '(N-1) L1: Eta Jet < 2.5', 
        '(N-1) L1-HighET: jet PT > 60 GeV',
       '(N-1) L1-LowET: jet(HCAL) > 30 GeV and jet(ECAL) < 3 GeV',
       '(N-1) HLT: Eta Jet < 2.5 PT Jet > 20 GeV', 
       '(N-1) HLT: Jet EMF < 0.06',
       '(N) L1: Eta Jet < 2.5',
       '(N) L1-LowET: jet(HCAL) > 30 GeV and jet(ECAL) < 3 GeV',
       '(N) L1-HighET: jet PT > 60 GeV',       
       '(N) HLT: Eta Jet < 2.5 PT Jet > 20 GeV', 
       '(N) HLT: Jet EMF < 0.06']].T

                                                    entries  entriesError
# All                                                 40000        202.42
(N-1) L1: Eta Jet < 2.5                               33527         183.1
(N-1) L1-HighET: jet PT > 60 GeV                      13438        115.92
(N-1) L1-LowET: jet(HCAL) > 30 GeV and jet(ECAL...     3141        56.045
(N) L1: Eta Jet < 2.5                                   193        13.892
(N) L1-LowET: jet(HCAL) > 30 GeV and jet(ECAL) ...      142        11.916
(N) L1-HighET: jet PT > 60 GeV                           21        4.5826
(N-1) HLT: Eta Jet < 2.5 PT Jet > 20 GeV              16574        128.74
(N-1) HLT: Jet EMF < 0.06                              2711        52.067
(N) HLT: Eta Jet < 2.5 PT Jet > 20 GeV                  163        12.767
(N) HLT: Jet EMF < 0.06                                 141        11.874
lambdauv                                            1.2e+07        3464.1
chxx10                                                  0.1       0.31623
ychi1                                                     1             1
ychi10                                                    1             1
sina                                                    0.2       0.44721