In [7]:
import pandas as pd

In [8]:
file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_01/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow.csv'
# file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_02/ddmH_mS_1000_m1_489_dm_90_delphes_events_b2tf_cutFlow.csv'
# file = '../pp2chi0chi0J_minimalH_scan/Events/run_02/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2)
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                      0         1
# All            9949.0  1.000000
Eta cut          9861.0  0.991155
Energy theshold  6523.0  0.655644
Delta Phi        2679.0  0.269273
Decay Position   2469.0  0.248166
Decay Time        233.0  0.023419
m1                979.0  0.098402
m0                889.0  0.089356
mS               2000.0  0.201025

In [9]:
file2 = '../pp2chi0chi0_minimalH_scan_jets/Events/run_01/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
# file2 = '../pp2chi0chi0_minimalH_scan_jets/Events/run_02/ddmH_mS_1000_m1_489_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
# file2 = '../pp2chi0chi0J_minimalH_scan/Events/run_02/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'

cutDF = pd.read_csv(file2,skiprows=2)
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                           0         1
# All                 9949.0  1.000000
Eta cut               9407.0  0.945522
ETmax(N-1) < 100 GeV  3953.0  0.397326
Energy theshold       1853.0  0.186250
Delta Phi              735.0  0.073877
Decay Position         677.0  0.068047
Decay Time              64.0  0.006433
m1                     979.0  0.098402
m0                     889.0  0.089356
mS                    2000.0  0.201025