In [22]:
import pandas as pd

In [23]:
# file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_01/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow.csv'
file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_02/ddmH_mS_1000_m1_489_dm_90_delphes_events_b2tf_cutFlow.csv'
cutDF = pd.read_csv(file,skiprows=2)
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                       0       1
# All            10000.0  1.0000
Eta cut          19530.0  1.9530
Energy theshold  11690.0  1.1690
Delta Phi         4496.0  0.4496
Decay Position    4216.0  0.4216
Decay Time         212.0  0.0212
m1                 489.0  0.0489
m0                 399.0  0.0399
mS                1000.0  0.1000

In [ ]:
# file2 = '../pp2chi0chi0_minimalH_scan_jets/Events/run_01/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
file2 = '../pp2chi0chi0_minimalH_scan_jets/Events/run_02/ddmH_mS_1000_m1_489_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
cutDF = pd.read_csv(file2,skiprows=2)
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                       0       1
# All            10000.0  1.0000
Eta cut          19530.0  1.9530
Energy theshold  11690.0  1.1690
Delta Phi         4496.0  0.4496
Decay Position    4216.0  0.4216
Decay Time         212.0  0.0212
m1                 489.0  0.0489
m0                 399.0  0.0399
mS                1000.0  0.1000