In [33]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.5g}'.format

In [34]:
file = '../pp2chi0chi0J_scan/Events/run_01/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2,delimiter=';')
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-9.0) < 0.5]
newRows = {}
for key in cutDF.columns:
    newRows[key] = [np.sqrt(float(cutDF[key].iloc[0])),
                     float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]

df_the_dict = pd.DataFrame.from_dict(newRows)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.drop(columns=['m1','m0','mS','tau'],inplace=True)
cutDF2.rename({0 : 'entries', 1 : 'entriesError', 2 : 'cumulative'},axis=0,inplace=True)
cutDF2.T

                                    entries  entriesError  cumulative
# All                                 38862        197.13           1
L1: 40 GeV < MET(N-1) < 100 GeV       15663        125.15     0.40304
L1: 40 GeV < PT Jet1(N)                  94        9.6954   0.0024188
L1: DPhi(Jet(N),MET(N-1)) < 1.0          78        8.8318   0.0020071
HLT: Eta Jet < 2.5 PT Jet > 20 GeV       78        8.8318   0.0020071
HLT: Jet(N) EMF < 0.06                   59        7.6811   0.0015182
HLT: DR(Tracks(N),Jet(N)) > 0.2          59        7.6811   0.0015182

In [35]:
file = '../pp2chi0chi0J_scan/Events/run_01/ddmH_mS_500_m1_244_dm_90_delphes_events_nosmear_b2tf_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2,delimiter=';')
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-9.0) < 0.5]
newRows = {}
for key in cutDF.columns:
    newRows[key] = [np.sqrt(float(cutDF[key].iloc[0])),
                     float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]

df_the_dict = pd.DataFrame.from_dict(newRows)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.drop(columns=['m1','m0','mS','tau'],inplace=True)
cutDF2.rename({0 : 'entries', 1 : 'entriesError', 2 : 'cumulative'},axis=0,inplace=True)
cutDF2.T

                                    entries  entriesError  cumulative
# All                                 38862        197.13           1
L1: 40 GeV < MET(N-1) < 100 GeV       15770        125.58     0.40579
L1: 40 GeV < PT Jet1(N)                  92        9.5917   0.0023674
L1: DPhi(Jet(N),MET(N-1)) < 1.0          76        8.7178   0.0019556
HLT: Eta Jet < 2.5 PT Jet > 20 GeV       76        8.7178   0.0019556
HLT: Jet(N) EMF < 0.06                   59        7.6811   0.0015182
HLT: DR(Tracks(N),Jet(N)) > 0.2          59        7.6811   0.0015182