In [2]:
import pandas as pd
import numpy as np

In [3]:
file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_01/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow.csv'
# file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_03/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow.csv'
# file = '../pp2chi0chi0J_minimalH_scan/Events/run_02/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2)
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                      0         1
# All            9949.0  1.000000
Eta cut          9861.0  0.991155
Energy theshold  6523.0  0.655644
Delta Phi        2679.0  0.269273
Decay Position   2469.0  0.248166
Decay Time        233.0  0.023419
m1                979.0  0.098402
m0                889.0  0.089356
mS               2000.0  0.201025

In [7]:
file2 = '../data/pp2chi0chi0_minimalH_scan_jets/Events/run_42/ddmH_mS_500_m1_244_dm_100_delphes_events_b2tf_cutFlow_v2.csv'
#file2 = '../pp2chi0chi0_minimalH_scan_jets/Events/run_03/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
# file2 = '../pp2chi0chi0J_minimalH_scan/Events/run_02/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'

cutDF = pd.read_csv(file2,skiprows=2)
cutDF = cutDF[abs(cutDF['ctau']-4.0) < 0.1]
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                              0         1
# All                 75000.000  1.000000
Eta cut               69850.000  0.931333
ETmax(N-1) < 100 GeV  44790.000  0.597200
Energy theshold       20270.000  0.270267
Delta Phi              8988.000  0.119840
Decay Position         8354.000  0.111387
Decay Time              656.000  0.008747
ctau                      4.046  0.000054
m1                      244.000  0.003253
m0                      144.000  0.001920
mS                      500.000  0.006667

In [8]:
file3 = '../data//pp2chi0chi0_minimalH_scan_jets/Events/run_58/ddmH_mS_500_m1_244_dm_150_delphes_events_b2tf_cutFlow_v2.csv'
#file2 = '../pp2chi0chi0_minimalH_scan_jets/Events/run_03/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
# file2 = '../pp2chi0chi0J_minimalH_scan/Events/run_02/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'

cutDF = pd.read_csv(file3,skiprows=2)
cutDF = cutDF[abs(cutDF['ctau']-4.0) < 0.1]
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                              0         1
# All                 75000.000  1.000000
Eta cut               73510.000  0.980133
ETmax(N-1) < 100 GeV  45170.000  0.602267
Energy theshold       34900.000  0.465333
Delta Phi             13800.000  0.184000
Decay Position        13070.000  0.174267
Decay Time             1098.000  0.014640
ctau                      4.046  0.000054
m1                      244.000  0.003253
m0                       94.000  0.001253
mS                      500.000  0.006667

In [ ]:
100*np.sqrt(64.0)/10000.0

np.float64(0.08)