In [2]:
import pandas as pd
import numpy as np

In [6]:
# file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_03/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_01/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
# file = '../pp2chi0chi0_minimalH_scan_jets/Events/run_03/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow.csv'
# file = '../pp2chi0chi0J_minimalH_scan/Events/run_02/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2)
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-4.0) < 0.1]
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                           0         1
# All                 9949.0  1.000000
Eta cut               9407.0  0.945522
ETmax(N-1) < 100 GeV  3953.0  0.397326
Energy theshold       1853.0  0.186250
Delta Phi              735.0  0.073877
Decay Position         677.0  0.068047
Decay Time              64.0  0.006433
m1                     979.0  0.098402
m0                     889.0  0.089356
mS                    2000.0  0.201025

In [7]:
# file2 = '../pp2chi0chi0_minimalH_scan_jets_fix/Events/run_01/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
file2 = '../pp2chi0chi0_minimalH_scan_jets_fix/Events/run_03/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
#file2 = '../pp2chi0chi0_minimalH_scan_jets/Events/run_03/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow_v2.csv'
# file2 = '../pp2chi0chi0J_minimalH_scan/Events/run_02/ddmH_mS_2000_m1_979_dm_90_delphes_events_b2tf_cutFlow_v2.csv'

cutDF = pd.read_csv(file2,skiprows=2)
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-4.0) < 0.1]
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                              0         1
# All                 10000.000  1.000000
Eta cut                9255.000  0.925500
ETmax(N-1) < 100 GeV   3838.000  0.383800
Energy theshold        1759.000  0.175900
Delta Phi               712.000  0.071200
Decay Position          666.000  0.066600
Decay Time               47.000  0.004700
ctau                      4.046  0.000405
m1                      979.000  0.097900
m0                      889.000  0.088900
mS                     2000.000  0.200000