In [1]:
import pandas as pd
import numpy as np

In [11]:
file = '../data/pp2chi0chi0_minimalH_scan_jets/Events/run_34/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow_v2.csv'

cutDF = pd.read_csv(file,skiprows=2)
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-9.0) < 0.5]
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                              0          1         2
# All                 75000.000  75000.000  1.000000
Eta cut               67830.000  67830.000  0.904400
ETmax(N-1) < 100 GeV  43380.000  43380.000  0.578400
Energy theshold       14850.000  14850.000  0.198000
Delta Phi              6984.000   6984.000  0.093120
Decay Position         4930.000   4676.000  0.065733
Decay Time              334.000    319.000  0.004453
ctau                      8.626      9.382  0.000115
m1                      244.000    244.000  0.003253
m0                      154.000    154.000  0.002053
mS                      500.000    500.000  0.006667

In [8]:
file = '../data/pp2chi0chi1_minimalH10_scan_jets/Events/run_34/ddmH_mS_500_m1_244_dm_90_delphes_events_b2tf_cutFlow_v2.csv'

cutDF = pd.read_csv(file,skiprows=2)
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-9.0) < 0.5]
newRow = {}
for key in cutDF.columns:
    newRow[key] = [float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]
df_the_dict = pd.DataFrame.from_dict(newRow)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.T

                              0          1         2
# All                 75000.000  75000.000  1.000000
Eta cut               57870.000  57870.000  0.771600
ETmax(N-1) < 100 GeV  33680.000  33680.000  0.449067
Energy theshold       12790.000  12790.000  0.170533
Delta Phi              5716.000   5716.000  0.076213
Decay Position         3187.000   3022.000  0.042493
Decay Time              383.000    387.000  0.005107
ctau                      8.626      9.382  0.000115
m1                      244.000    244.000  0.003253
m0                      154.000    154.000  0.002053
mS                      500.000    500.000  0.006667